= form_tag search_and_filter_user_tasks_path(@user) do |f|
  .field
    = label_tag 'completed'
    = check_box_tag :completed
  .field
    = label_tag 'After deadline'
    = check_box_tag :after_deadline
  .actions
    = submit_tag 'Filter'
