%h2 New quick task
= form_for [@user, @task], :html => { :class => 'form-inline' } do |f|
  -if @task.errors.any?
    #error_explanation
      %h2 "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  == #{f.label :name} #{f.text_field :name}
  == #{f.label :deadline} #{f.text_field :deadline}
  == #{f.submit 'Save'}
