%h1 Listing tasks for user :: #{@user.name}

= render 'form'
= render 'filter_form'

%table
  %tr
    %th Name
    %th Deadline
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.deadline
      %td= link_to 'Show', user_task_path(@user, task)
      %td= link_to 'Edit', edit_user_task_path(@user, task)

%br
